@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans)One');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC');
@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic');
@import url('https://fonts.googleapis.com/css?family=Wire+One');

.App {
  min-height: 100vh;
  font-family: 'PT Sans Narrow', sans-serif;
  top: 0;
  left: 0;
  background: url('./artistic-astronomy-dark-306344.jpg') no-repeat fixed;
  background-size: cover;
  background-position: center center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px 10vh auto 10vh 100px;
}

.App-logo {
  height: 60px;
  width: auto;
  float: left;
  padding-top: 21px;
  margin: auto;
  grid-column: 2;
}

.App-header {
  padding-top: 0;
  color: #555;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  border-bottom: 1px solid white;
  grid-row: 1;
  grid-column: 2 / 12;
}

.about-link {
  grid-column: 11;
  padding-left: 10px;
}

.loggedin-as {
  grid-column: 10;
  padding-right: 10px;
  font-style: italic;
}

.menu .logout {
  grid-column: 11;
  padding-left: 10px;
  padding-right: 10px;
}

.menu {
  color: white;
  float: right;
  padding-bottom: 20px;
  margin-top: 50px;
  font-size: 1.75em;
}

.about-link:hover,
.menu .logout:hover,
.settings-link:hover,
.team a:hover {
  color: #00add9;
  font-weight: bold;
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5vh;
}

form {
  max-width:550px;
  padding: 30px 20px;
  margin: 100px auto;
  background: #F8F8F8;
  border-radius: 10px;
  -webkit-border-radius:10px;
  -moz-border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}

form.login {
  /*margin-bottom: 300px;*/
}

form.settings {
  /*margin-bottom: 200px;*/
}

/*.login, .registration {
  margin-top: 300px;
  margin-bottom: 300px;
  background-color: #fcfafa;
}*/

form h1 {
  padding: 40px 30px 0px 30px;
  margin: -30px -30px 30px -30px;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  color: black;
  font: bold 30px, sans-serif;
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  text-align: center;
}

label {
  display: block;
  font: 24px 'PT Sans Narrow', sans-serif;
  color: black;
  margin-bottom: 15px;
}

.form-section {
  padding: 30px;
  background: #ededed;
  border-radius: 6px;
  margin-bottom: 15px;
  color: black;
}

.section {
  color: black;
  font-size: 24px;
  font-weight: bold;
  margin-right: 8px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.section span {
  background: #00add9;
  color: #F8F8F8;
  height: 30px;
  width: 30px;
  display: inline-block;
  margin-right: 10px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 15px 15px 15px 0px;
}

input {
  display: block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border: 2px solid #fff;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  font-size: 20px;
  color: #555;
}

#checkbox {
  height: 24px;
  width: 24px;

}

form button {
  position: relative;
  display: block;
  padding: 12px 39px 12px 39px;
  color: black;
  margin: 0 auto;
  background: #00add9;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  width: 100%;
  border: 1px solid #16a085;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
}

#cancel, #delete {
  background: tomato;
}

button:hover {
  background: #2A6881;
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}

.policy {
  float: right;
  width: 450px;
  font: 24px Arial, 'PT Sans Narrow', sans-serif;
  color: #4D4D4D;
  margin-top: 10px;
  text-align: right;
}

.Intro, form {
  grid-column: 4 / 10 ;
  grid-row: 3;
  margin: 0 auto;
}

.Intro h1 {
  font: normal 8.0vmin 'PT Sans Narrow', Sans-serif;
  text-align: center;
  margin: auto;
}

#google-login {
  margin: 0 auto;
}

.Intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Intro span {
  color: #e7e7e7;

}

.Intro #nudge {
  color: #00add9;
}

.contacts {
  grid-column: 4 / 10;
  grid-row: 3;
  color: white;
}

.contacts h1 {
  text-align: center;
}

.contacts li {
  font-size: 2.5vh;
}

.Footer {
  border-top: 1px solid white;
  grid-row: 5;
  grid-column: 2 / 12;
  font-size: 18px;
  color: white;
}

.Footer .description {
  float: left;
}

.Footer .team {
  float: right;
}

.team .tom {
  padding-right: 10px;
}

.team .brian {
  padding-left: 10px;
  padding-right: 10px;
}

.team .lila {
  padding-left: 10px;
}

.team a {
  color: white;
  text-decoration: none;
}

.Footer h1 {
  padding-top: 5px;
  padding-bottom: 0px;
  font-size: 20px;
  font-weight: bold;
}
